.target-thumb {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  pointer-events: none;
}

.thumb-image {
  margin: auto;
  user-select: none;
  max-width: 48px;
  max-height: 48px;
  opacity: 0.35;
}
